<div class="hf-flex-center hf-row" style="flex-wrap: wrap;">
  <div class="hf-row hf-m20">
    <div class="hf-flex-center">
      <fa-icon class="hf-m20" icon="book-open"></fa-icon>

      <div class="hf-column">
        <span style="font-size: medium;">Descrizione</span>
        <span style="font-size: small;">afffffffffffffffffffffffffffffffffff</span>
      </div>
    </div>
  </div>
  <div class="hf-row hf-m20">
    <div class="hf-flex-center">
      <fa-icon class="hf-m20" icon="clock"></fa-icon>

      <div class="hf-column">
        <span style="font-size: medium;">Tempistiche</span>
        <span style="font-size: small;">Nessuna preferenza indicata</span>
      </div>
    </div>
  </div>
  <div class="hf-row hf-m20">
    <div class="hf-flex-center">
      <fa-icon class="hf-m20" icon="money-bill-wave"></fa-icon>

      <div class="hf-column">
        <span style="font-size: medium;">Budget pagamento</span>
        <span style="font-size: small;">Nessuna preferenza indicata</span>
      </div>
    </div>
  </div>
</div>
