<div class="hf-100-100 hf-column hf-flex-center">
  <div class="hf-w100">
    <div [class]="false ? 'nw-navbar-button-selected-outbox' : ''">
      <button mat-button [class]="false ? 'nw-navbar-button-selected' : 'nw-navbar-button'">
        <span *ngIf="sidebar.extended" [class]="true ? 'nw-navbar-selected-thing' : 'nw-navbar-selected-thing-not'">
          <fa-icon icon="angle-right" size="lg"></fa-icon>
        </span>
        <span [class]="sidebar.extended ? 'nw-navbar-button-icon' : 'nw-navbar-button-icon-not-extended'">
          <button mat-icon-button [class]="false ? 'nw-navbar-button-icon-selected' : ''">
            <fa-icon icon="house-user" size="lg"></fa-icon>
          </button>
        </span>
        <span *ngIf="sidebar.extended">{{ '' }}</span>
      </button>
    </div>
    <div [class]="false ? 'nw-navbar-button-selected-outbox' : ''">
      <button mat-button [class]="false ? 'nw-navbar-button-selected' : 'nw-navbar-button'">
        <span *ngIf="sidebar.extended" [class]="true ? 'nw-navbar-selected-thing' : 'nw-navbar-selected-thing-not'">
          <fa-icon icon="angle-right" size="lg"></fa-icon>
        </span>
        <span [class]="sidebar.extended ? 'nw-navbar-button-icon' : 'nw-navbar-button-icon-not-extended'">
          <button mat-icon-button [class]="false ? 'nw-navbar-button-icon-selected' : ''">
            <fa-icon icon="paint-brush" size="lg"></fa-icon>
          </button>
        </span>
        <span *ngIf="sidebar.extended">{{ '' }}</span>
      </button>
    </div>
    <div [class]="false ? 'nw-navbar-button-selected-outbox' : ''">
      <button mat-button [class]="false ? 'nw-navbar-button-selected' : 'nw-navbar-button'">
        <span *ngIf="sidebar.extended" [class]="true ? 'nw-navbar-selected-thing' : 'nw-navbar-selected-thing-not'">
          <fa-icon icon="angle-right" size="lg"></fa-icon>
        </span>
        <span [class]="sidebar.extended ? 'nw-navbar-button-icon' : 'nw-navbar-button-icon-not-extended'">
          <button mat-icon-button [class]="false ? 'nw-navbar-button-icon-selected' : ''">
            <fa-icon icon="users" size="lg"></fa-icon>
          </button>
        </span>
        <span *ngIf="sidebar.extended">{{ '' }}</span>
      </button>
    </div>
    <div [class]="true ? 'nw-navbar-button-selected-outbox' : ''">
      <button mat-button [class]="false ? 'nw-navbar-button-selected' : 'nw-navbar-button'">
        <span *ngIf="sidebar.extended" [class]="true ? 'nw-navbar-selected-thing' : 'nw-navbar-selected-thing-not'">
          <fa-icon icon="angle-right" size="lg"></fa-icon>
        </span>
        <span [class]="sidebar.extended ? 'nw-navbar-button-icon' : 'nw-navbar-button-icon-not-extended'">
          <button mat-icon-button [class]="true ? 'nw-navbar-button-icon-selected' : ''">
            <fa-icon icon="list" size="lg"></fa-icon>
          </button>
        </span>
        <span *ngIf="sidebar.extended">{{ '' }}</span>
      </button>
    </div>
    <div [class]="false ? 'nw-navbar-button-selected-outbox' : ''">
      <button mat-button [class]="false ? 'nw-navbar-button-selected' : 'nw-navbar-button'">
        <span *ngIf="sidebar.extended" [class]="false ? 'nw-navbar-selected-thing' : 'nw-navbar-selected-thing-not'">
          <fa-icon icon="angle-right" size="lg"></fa-icon>
        </span>
        <span [class]="sidebar.extended ? 'nw-navbar-button-icon' : 'nw-navbar-button-icon-not-extended'">
          <button mat-icon-button [class]="false ? 'nw-navbar-button-icon-selected' : ''">
            <fa-icon icon="archive" size="lg"></fa-icon>
          </button>
        </span>
        <span *ngIf="sidebar.extended">{{ '' }}</span>
      </button>
    </div>
  </div>

  <div class="hf-w100"></div>


  <!-- <div class="hf-w100">
    <div *ngFor="let button of buttonsTool" [ngSwitch]="button.type">
      <button mat-button *ngSwitchCase="tags.MAIN" class="leftbar-bottom-line" (click)="getSidebarAction(button);"
        [matTooltip]="getSidebarTooltip(button) | translate" matTooltipPosition="right">
        <span *ngIf="sidebar.extended">{{ getSidebarTitle(button) | translate }}</span>
        <button mat-icon-button>
          <fa-icon [icon]="getSidebarIcon(button)" [spin]="button.tag === tags.SIDEBAR_RELOAD && !loaded" size="lg">
          </fa-icon>
        </button>
      </button>

      <span #searchTrigger [matMenuTriggerFor]="search"></span>
      <span #filterTrigger [matMenuTriggerFor]="filter"></span>

      <mat-expansion-panel #showButtons="matExpansionPanel" *ngIf="button.show" class="hf-w100 mat-elevation-z0" style="background-color: aliceblue" hideToggle>
        <button *ngFor="let showButton of button.show" mat-button class="leftbar-bottom-line" (click)="getSidebarAction(showButton);"
          [matTooltip]="getSidebarTooltip(showButton) | translate" matTooltipPosition="right">
          <span *ngIf="sidebar.extended">{{ getSidebarTitle(showButton) | translate }}</span>
          <button mat-icon-button>
            <fa-icon [icon]="getSidebarIcon(showButton)" size="lg"></fa-icon>
          </button>
        </button>
      </mat-expansion-panel>

      <mat-divider *ngSwitchCase="tags.LINE" class="divider"></mat-divider>
    </div>
  </div> -->
</div>
