<div *ngIf="topbarEnabled" class="nw-topbar">
  <app-topbar></app-topbar>
</div>

<div [class]="topbarEnabled ? 'nw-content' : 'nw-content-fullpage'">
  <mat-sidenav-container class="hf-h100" autosize=true>

    <mat-sidenav #sidenav *ngIf="navbarEnabled" mode="side" opened="true" class="mat-elevation-z2"
      style="width: 50px">
      <app-navbar></app-navbar>
    </mat-sidenav>

    <mat-sidenav-container class="hf-h100" autosize=true>

      <mat-sidenav #sidenav *ngIf="toolbarEnabled" mode="side" opened="true" class="mat-elevation-z2"
        style="width: 41px">
        <app-toolbar></app-toolbar>
      </mat-sidenav>

      <!--<router-outlet></router-outlet>-->
      <router-outlet></router-outlet>

    </mat-sidenav-container>

  </mat-sidenav-container>
</div>
