<div class="hf-100-100 hf-column hf-flex-left">
  <div class="hf-column hf-flex-center nw-toolbar-section">
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.WAITING" [matTooltip]="ll.TOOLBAR_STATUS_WAITING | translate" matTooltipPosition="after"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.EVALUATION" [matTooltip]="ll.TOOLBAR_STATUS_EVALUATION | translate" matTooltipPosition="after"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.PAYMENT" [matTooltip]="ll.TOOLBAR_STATUS_PAYMENT | translate" matTooltipPosition="after"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.OK" [matTooltip]="ll.TOOLBAR_STATUS_OK | translate" matTooltipPosition="after"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.PROGRESS" [matTooltip]="ll.TOOLBAR_STATUS_PROGRESS | translate" matTooltipPosition="after"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.DELIVER" [matTooltip]="ll.TOOLBAR_STATUS_DELIVER | translate" matTooltipPosition="after"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="circle" size="lg" [style.color]="statusColor.ERROR" [matTooltip]="ll.TOOLBAR_STATUS_ERROR | translate" matTooltipPosition="after"></fa-icon>
    </button>
  </div>

  <!-- <div class="hf-column hf-flex-center" style="margin: 20px 0px;">
    <fa-icon class="hf-m5" icon="check-circle" size="lg" style="color: green;"></fa-icon>
    <fa-icon class="hf-m5" icon="exclamation-circle" size="lg" style="color: red;"></fa-icon>
  </div> -->

  <div class="hf-column hf-flex-center nw-toolbar-section">
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="arrow-up" size="lg" style="color: gray;"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="arrow-down" size="lg" style="color: var(--nw-main-color);"></fa-icon>
    </button>
  </div>

  <div class="hf-column hf-flex-center nw-toolbar-section">
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="angle-double-up" size="lg" style="color: gray;"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="angle-up" size="lg" style="color: gray;"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="angle-down" size="lg" style="color: var(--nw-main-color);"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="angle-double-down" size="lg" style="color: var(--nw-main-color);"></fa-icon>
    </button>
  </div>


  <div class="hf-column hf-flex-center nw-toolbar-section">
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="check-circle" size="lg" style="color: var(--nw-main-color);"></fa-icon>
    </button>
    <button mat-icon-button class="nw-toolbar-button">
      <fa-icon icon="exclamation-circle" size="lg" style="color: gray;"></fa-icon>
    </button>
  </div>

  <span class="spacer"></span>

  <div class="hf-column hf-flex-center nw-toolbar-section">
    <button mat-icon-button class="nw-toolbar-button" (click)="openNewCommissionDialog();">
      <fa-icon icon="plus" size="lg" style="color: var(--nw-main-color);"></fa-icon>
    </button>
  </div>
</div>
