<div class="hf-100-100 hf-flex-center">
  <div class="hf-column hf-flex-center">
    <span class="nw-login-logo">narwhale</span>

    <mat-form-field class="nw-login-form" floatLabel="never">
      <input matInput type="text" [(formControl)]="username" [placeholder]="ll.LOGIN_USERNAME | translate" autocomplete="off" required>
    </mat-form-field>

    <mat-form-field class="nw-login-form" floatLabel="never">
      <input matInput [type]="hide ? 'password' : 'text'" [(formControl)]="password"
        [placeholder]="ll.LOGIN_PASSWORD | translate"  (keyup.enter)="login();" autocomplete="off" required> <!--(focus)="checkIfUserExists();" -->
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
        <fa-icon [icon]="hide ? 'eye-slash' : 'eye'" size="sm" [matTooltip]="(hide ? ll.LOGIN_PASSWORD_SHOW : ll.LOGIN_PASSWORD_HIDE) | translate"
          matTooltipPosition="right">
        </fa-icon>
      </button>
    </mat-form-field>
  </div>
</div>
