<div *ngIf="statusDetail" class="hf-flex-left nw-commission-header-status" [matMenuTriggerFor]="statusMenu"
  (click)="$event.stopPropagation();">
  <div class="nw-commission-header-status-icon">
    <fa-icon [icon]="statusDetail.icon" size="lg"></fa-icon>
  </div>
  <div class="hf-column">
    <span>{{ statusDetail.title | translate }}</span>
    <!--<div>
      <fa-icon class="hf-m5" icon="check" size="lg"></fa-icon>
      <fa-icon class="hf-m5" icon="reply" size="lg"></fa-icon>
      <fa-icon class="hf-m5" icon="times" size="lg"></fa-icon>
    </div>-->
  </div>
</div>


<mat-menu #statusMenu="matMenu" class="hf-row" [ngSwitch]="statusDetail.code">
  <section *ngSwitchCase="statusValues.WAITING_FOR_EVALUATION">
    <button mat-button class="hf-flex-center" style="width: 100px; height: 110px;">
      <div style="margin-top: 10px;">
        <fa-icon icon="clock" size="2x"></fa-icon>
      </div>

      <span>Valuta</span>
    </button>
    <button mat-button class="hf-flex-center" style="width: 100px; height: 110px;">
      <!--onmouseover="this.style.backgroundColor='lightgreen'"-->
      <div style="margin-top: 10px;">
        <fa-icon icon="paper-plane" size="2x"></fa-icon>
      </div>

      <span>Proponi</span>
    </button>
    <button mat-button class="hf-flex-center" style="width: 100px; height: 110px;">
      <div style="margin-top: 10px;">
        <fa-icon icon="times" size="2x"></fa-icon>
      </div>

      <span>Rifiuta</span>
    </button>
  </section>
  <section *ngSwitchCase="statusValues.IN_EVALUATION">
    <button mat-button class="hf-flex-center" style="width: 100px; height: 110px;">
      <!--onmouseover="this.style.backgroundColor='lightgreen'"-->
      <div style="margin-top: 10px;">
        <fa-icon icon="check" size="2x"></fa-icon>
      </div>

      <span>Accetta</span>
    </button>
    <button mat-button class="hf-flex-center" style="width: 100px; height: 110px;">
      <div style="margin-top: 10px;">
        <fa-icon icon="times" size="2x"></fa-icon>
      </div>

      <span>Rifiuta</span>
    </button>
  </section>
  <section *ngSwitchDefault>
    <button mat-button class="hf-flex-center" style="width: 150px; height: 110px;" disabled>
      <div style="margin-top: 10px;">
        <fa-icon icon="square" size="2x"></fa-icon>
      </div>

      <span>Nessuna azione</span>
    </button>
  </section>
</mat-menu>
