.nw-commission-header-status {
  padding: 10px 20px;
  border-radius: 50px;
  transition: var(--hf-transition-base);
}
.nw-commission-header-status:hover {
  background-color: var(--nw-hover-color);
}

.nw-commission-header-status-icon {
  width: 35px;
}
