.nw-user-menu {
  color: white;
  border-radius: 20px;
  font-weight: 400;
}
.nw-user-menu:hover {
  color: var(--nw-main-color);
  background-color: white;
  font-weight: 500;
  transition: var(--hf-transition-base);
}

.nw-user-menu-button {
  font-size: medium;
  width: 250px;
}
