<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <form class="hf-column">
      <ng-template matStepLabel>Generali</ng-template>
      <mat-form-field class="hf-m20">
        <input matInput [(formControl)]="titleControl" maxlength="40" placeholder="Titolo" required>
      </mat-form-field>
      <mat-form-field class="hf-m20" style="width: 400px;">
        <textarea matInput [(formControl)]="descriptionControl" rows="10" maxlength="1000" placeholder="Descrizione" style="resize: none;" required></textarea>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Cliente</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="setCommission();">Next</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
