<mat-toolbar class="hf-noselect nw-topbar mat-elevation-z5">

  <!-- <img src="assets/logo.png" style="height: 40px;"> -->

  <span class="nw-topbar-logo">narwhale</span>

  <span class="hf-spacer"></span>

  <div class="hf-flex-left" style="width: 25%; height: 70%; background-color: white; border-radius: 50px">
    <fa-icon class="hf-m10" icon="search" size="sm" style="color: dimgray;"></fa-icon>
    <input class="nw-topbar-search-field" style="font-size: 15px;" placeholder="Cerca commissioni...">
  </div>

  <span class="hf-spacer"></span>

  <app-user-menu></app-user-menu>

</mat-toolbar>
