<div class="hf-flex-left">
  <fa-icon icon="user-circle" size="lg"></fa-icon>
  <div class="hf-column hf-m10">
    <span>Marco Ambrosi</span>
    <!--<span>marco.ambrosi2000@gmail.com</span>-->
  </div>
  <!-- <div>
    <button mat-icon-button>
      <fa-icon icon="comment-alt" size="lg" style="color: gray;"></fa-icon>
    </button>
    <button mat-icon-button>
      <fa-icon class="hf-m5" icon="address-book" size="lg" style="color: gray;"></fa-icon>
    </button>

    <fa-icon class="hf-m5" icon="minus-circle" size="lg" style="color: gray;"></fa-icon>
  </div>-->
</div>
