<div class="hf-noselect">
  <div *ngIf="detail" class="hf-left nw-commission-customer-chip" [mat-menu-trigger-for]="customerMenu">
    <div
      [ngClass]="{ 'hf-center': !text, 'nw-chip-icon-small': size === 'small', 'nw-chip-icon-medium': size === 'medium' }">
      <fa-icon [icon]="detail.icon" [size]="size === 'small' ? 'sm' : 'lg'" style="color: gray !important;"></fa-icon>
    </div>
    <span *ngIf="text">{{ detail.info | translate }}</span>
  </div>
  <span *ngIf="!detail"></span>
</div>

<mat-menu #customerMenu="matMenu" class="hf-p15" (click)="$event.stopPropagation();">
  <app-standard-commission-customer-card [user]="value"></app-standard-commission-customer-card>
</mat-menu>
