<!-- <div class="hf-m10">
  <app-commission-header *ngFor="let commission of commissionFilteredList"></app-commission-header>
</div> -->

<div class="hf-m10">
  <mat-accordion #accordion="matAccordion" class="hf-100-100">
    <mat-expansion-panel #panel="matExpansionPanel" *ngFor="let commission of commissionActiveList" class="hf-100-100">
      <mat-expansion-panel-header (click)="panel.expanded ? selectCommission(commission) : selectCommission();" [style.backgroundColor]="getHeaderColor(commission, panel)">
        <app-commission-header class="hf-w100" [commission]="commission"></app-commission-header>
      </mat-expansion-panel-header>

      <app-commission-body [commission]="commission"></app-commission-body>
    </mat-expansion-panel>
  </mat-accordion>
</div>
